<footer class="footer">
  <div class="links">
    <div class="link">Phone: <a href="tel:+998934371770">+998934371770</a></div>
    <div class="link">
      Telegram:
      <a href="https://t.me/shukrullojondev" target="_blank"
        >@shukrullojondev</a
      >
    </div>
    <div class="link">
      Email:
      <a href="mailto:shukrullojon.dev@gmail.com" target="_blank"
        >shukrullojon.dev@gmail.com</a
      >
    </div>
    <div class="link">
      Github:
      <a href="https://github.com/shukrullojonappdev" target="_blank"
        >shukrullojonappdev</a
      >
    </div>
  </div>
</footer>
