<div id="about" class="about">
  <h1>Frontend developer</h1>
  <ul class="my-data">
    <div class="box">
      <div class="data-box">
        <li class="data"><span>Name:</span> Shukrullojon</li>
        <li class="data"><span>Surename:</span> Raxmatulloyev</li>
        <li class="data"><span>Birth:</span> 25.08.2000</li>
        <li class="data"><span>Country:</span> Uzbekistan</li>
        <li class="data"><span>City:</span> Navoi</li>
        <li class="data">
          <span>Skills:</span> Typescript, SCSS, Linux, Windows, Docker
        </li>
        <li class="data"><span>Frontend:</span> React, Angular, Vue</li>
        <li class="data"><span>Backend:</span> Express, Nestjs</li>
        <li class="data"><span>UI: </span>Material UI, Chakra UI, Bootstrap</li>
        <li class="data"><span>Education:</span> Sam TUIT (2019-2023)</li>
        <li class="data">
          <span>Certificates:</span> Uzbekcoders Frontend Track, Intensive
          courses of Angular JS
        </li>
      </div>
      <div class="img-box">
        <img src="../../assets/my-photo.jpg" alt="my-photo" />
      </div>
    </div>
  </ul>
</div>
