@import "../../theme.scss";

.about {
  padding: 50px 0;

  h1 {
    margin: 10px 0;
  }

  .my-data {
    list-style: none;

    .box {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;

      .data-box {
        max-width: 550px;
        min-width: 300px;
      }

      .img-box {
        min-width: 150px;
        display: flex;
        justify-content: center;
        align-items: start;
        margin-top: 10px;

        img {
          width: 150px;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
        }
      }
    }

    .data {
      margin: 10px 0;

      span {
        color: $hc;
      }
    }
  }
}
