// Imports
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "./theme.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $hc;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: $sc;
}

body {
  font-family: "Roboto", sans-serif;
  background: $pc;
  color: $fc;
  font-size: 18px;
  scrollbar-face-color: $sc;
  scrollbar-base-color: $sc;
}

html {
  scroll-behavior: smooth;
}

.disableScroll {
  overflow: hidden;
  transition-duration: 500ms;
}

.enableSroll {
  overflow: auto;
  transition-duration: 500ms;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: $fc;
}
