@import "../../theme.scss";
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  h2 {
    border-top: 2px solid $hc;
    padding-top: 5px;
  }
}
